* {
  font-family: "JetBrainsMono Nerd Font", 
  		monospace;
  font-size: 16px;
  min-height: 0;
  border-radius: 1rem;
  padding: 0.1rem;
}

window#waybar {
  background: rgba(255, 255, 255, 0.0);
  color: rgb(255, 255, 255);
}

tooltip {
  background: #FFFFFF;
}

tooltip label {
  color: black;
  font-family: "JetBrainsMono Nerd Font";
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -2px transparent;
}

#workspaces button:hover {
  transition: ease-in-out 0.2s;
  background: #bbbbbb;
}

#workspaces button.active {
  transition: ease-in-out, 0.2s;
  box-shadow: inset 0 -2px #FFFFFF;
}

#clock {
  padding: 0 10px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #FFFFFF;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-arch {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 24px;
  transition: color .5s;
}

#custom-arch:hover {
  color: #1793d1;
}
