window {
  margin: 0px;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#input {
  font-size: 16px;
  margin: 5px;
  border: none;
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
}

#input:focus {
  margin: 5px;
  border: none;
  color: #000000;
  background-color: rgba(225, 225, 225, 0.8);
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  font-size: 16px;
  color: #000000;
  margin: 10px;
  border: none;
}


#entry:focus {
  font-weight: bold;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 10px;
}

#entry:selected {
  font-weight: bold;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 10px;
}
